#loading-container {
	position: absolute;
	display: flex;
	height: 100%;
	width: 100%;
	background-color: white;
	z-index: 9999;
}
#loading-screen {
	position: absolute;
	left: 48%;
	top: 48%;
	z-index: 9999;
	text-align: center;
}

.field-icon {
	float: right;
	margin-left: -25px;
	margin-top: -27px;
	margin-right: 5px;
	position: relative;
	z-index: 2;
	cursor: pointer;
}

@media (min-width: 768px) {
	.modal-xl {
		width: 90%;
		max-width: 1200px;
	}
}

@media screen {
	@page {
		size: A4; /* DIN A4 standard, Europe */
		margin: 0;
	}
}
.page-not-found .wrapper.not-found {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.61);
}
.page-not-found .wrapper.not-found h1 {
	font-size: 100px;
	letter-spacing: 0.15em;
	font-weight: 600;
	animation-delay: 0.5s;
}
.page-not-found .wrapper.not-found .desc {
	font-size: 27px;
	text-align: center;
	line-height: 50px;
	animation-delay: 1.5s;
	letter-spacing: 2px;
}
.page-not-found .wrapper.not-found .desc span {
	font-weight: 600;
	font-size: 30px;
}
.page-not-found .wrapper.not-found .btn-back-home {
	border-radius: 50px;
	padding: 13px 25px;
	animation-delay: 2.5s;
}
